.ndpage-container{
    width: 97%;
    
    height: 85%;
    align-self: end;
    justify-self: center;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}


.questionaire{
    height: 100%;
    width: 58%;
    border:  1px solid white;
    margin-right: 1%;
}


.mapp{
    height: 98%;
    width: 41%;
    float: right;
    display: flex;

}

