
:root{
  --background-color-dark:#373434;
  --background-color-light:whitesmoke;

  --hamburger-lines-dark:white;
  --hamburger-lines-light:black;

  --text-color1-light:black;
  --text-color1-dark:#0dddda;


  --text-shadow-light:0 0 5px rgba(0, 0, 0, 0.666);
  --text-shadow-dark:0 0 5px rgba(255, 255, 255, 0.905);


}



.light-mode{
  --background-color: var(--background-color-light);
  --hamburger-lines: var(--hamburger-lines-light);
  --text-color1: var(--text-color1-light);
  --text-shadow: var(--text-shadow-light);
}


.dark-mode{
  --background-color: var(--background-color-dark);
  --hamburger-lines: var(--hamburger-lines-dark);
  --text-color1: var(--text-color1-dark);
  --text-shadow: var(--text-shadow-dark);
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

