.home-section{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: var(--background-color);
}


.hometitle{
    align-self: end;
    margin-bottom: 4rem;
    margin-left: 8rem;
    font-weight: 600;
    letter-spacing: 0.4rem;
    position: absolute;
    color: var(--text-color1);
    
}


.home-container{
    height: 70vh;
    width: 75%;
     align-self: center;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}



.home-container .left{
    width: 50%;
    height: 100%;
    flex-direction: column;
}


.home-container .right p{
    font-size: 1.2rem;
    color: var(--hamburger-lines);
    font-weight: 600;
    letter-spacing: 0.3rem;

}

.select-district{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.select-district .select{
    width: 50%;
    margin-top: 2rem;
    height: 4rem;
    padding: 10px;
    display: block;
    background-color: var(--background-color);
    border: 3px solid #0dddda;
    color: var(--hamburger-lines);
    line-height: 1.42857143;
    text-align: center;
    
}

.select-district .select option{
    height: 3rem;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    padding-top: .5rem;
    

}

.select-district .select option:checked{
    background-color: #2e6f6e;
    color: white;
}


.home-container .right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.svg-icon {
    width: auto; 
    height: 140vh; 
}

.svg-icon path {
    stroke: black;
    fill: white;
    stroke-width: 70;
}

.svg-icon path:hover {
    fill: #0dddda;
    stroke: black;
    stroke-width: 70;
    transition: fill 1s;
    cursor: pointer;
  }

