.home-section{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: var(--background-color);
}



.hometitle {
    position: absolute;
    left: 50%;
    bottom: 2rem;
    transform: translate(-50%,0);
    margin: 0; 
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: var(--text-color1);
    font-style: italic;

}


.video-container {
    position: absolute;
    z-index: 0;
    height: 70vh;
    top: 13rem;
}

.video {
    width: 1920px;
    height: 100%;
    filter: brightness(0.3);
    object-fit: cover;
}


.home-container{
    height: 70vh;
    width: 75%;
     align-self: center;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    z-index: 1;
}



.home-container .left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.home-container .right p{
    font-size: 1.2rem;
    color: var(--hamburger-lines);
    font-weight: 600;
    letter-spacing: 0.3rem;
    margin-bottom: 5rem;

}

.select-district{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.select-district .select{
    width: 50%;
    margin-top: 10rem;
    height: 4rem;
    padding: 10px;
    display: block;
    background-color: var(--background-color);
    border: 3px solid #0dddda;
    color: var(--hamburger-lines);
    line-height: 1.42857143;
    text-align: center;
    
}

.select-district .select option{
    height: 3rem;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    padding-top: .5rem;
    

}

.select-district .select option:checked{
    background-color: #2e6f6e;
    color: white;
}


.home-container .right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.svg-icon {
    width: auto; 
    height: 150vh; 
    margin-top: 2rem;
}

.svg-icon path {
    stroke: black;
    fill: white;
    stroke-width: 70;
}

.svg-icon path:hover {
    fill: #0dddda !important;
    stroke: black !important;
    stroke-width: 70;
    transition: fill 1s;
    cursor: pointer;
  }



  .button-homepage{
  background-color: #0dddda;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-homepage:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-homepage:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-homepage{
    padding: 16px 48px;
  }
}
  

.modal {
    display: none;
    position: absolute;
    z-index: 1;
    width: 50%;
    background-color: var(--background-color);
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    color:var(--hamburger-lines);
    font-size: 12px;
    margin-top: 1rem;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
}

.modal.visible {
    display: block;
    opacity: 1;
}